page-edit-picture {

    .right{
        margin-left: 75%;
        color: #488aff;
    }
    #mainImage {
        margin-top:15%;
        width: 100%;
        height: 100%;

    }
    .slides{
        margin-top: 5%;
        // width: 100%;
        // height: 10%;
    }
    .slide{
         width: 40% !important;
        height: 30% !important;
    }

    // black and white filter
    #blackWhiteImg{
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);  
    }
    #contrasImg{
        -webkit-filter: contrast(200%); /* Safari */
        filter: contrast(200%);
    }
    #sepiaImg{
        -webkit-filter: sepia(100%); /* Safari */
        filter: sepia(100%);
    }
    #shadowImg{
        -webkit-filter: drop-shadow(8px 8px 10px gray); /* Safari */
    filter: drop-shadow(8px 8px 10px gray);
    }
}
