<ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="list">
        <ion-icon name="list"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="map">
        <ion-icon name="map"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let item of dbData" [ngClass]="{'hidden': segment !== 'list'}">
    <ion-card *ngIf="item.email == this._auth.user.email">
      <ion-item>
        <ion-avatar item-start>
          <img src={{item.downloadURL}} />
        </ion-avatar>
        <h2 *ngIf="this._auth != null">{{this._auth.userDetails.userName}}</h2>
        <p>{{ item.date | fromUnix:'ddd, MMM Do YYYY, HH:MM'}}</p>
        <ion-fab right top class="top right">
          <button ion-fab mini color="secondary" (click)="openEdit(item.downloadURL)">
            <i class="fa fa-pencil-square-o"></i>
          </button>
        </ion-fab>
      </ion-item>
      <img src={{item.downloadURL}} />
      <ion-card-content>
        <ion-row>
          <ion-col col-4>
            <div class="button-wrapper">
              <button ion-fab mini icon-only (click)="shareViaFacebook(item.downloadURL)" class="face">
                <ion-icon name="logo-facebook"></ion-icon>
              </button>
            </div>
          </ion-col>
          <ion-col col-4>
            <div class="button-wrapper">
              <button ion-fab mini icon-only (click)="shareViaTwitter(item.downloadURL)" class="twit">
                <ion-icon name="logo-twitter"></ion-icon>
              </button>
            </div>
          </ion-col>
          <ion-col col-4>
            <div class="button-wrapper">
              <button ion-fab mini icon-only (click)="shareViaInstagram(item.downloadURL)" class="insta">
                <ion-icon name="logo-instagram"></ion-icon>
              </button>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <div #map id="map" [ngClass]="{'hidden': segment !== 'map', 'map-wrapper': true}">
    <ion-spinner></ion-spinner>
  </div>
  <div #pleaseConnect id="please-connect">
    <p>Please connect to the Internet...</p>
  </div>